<h2 class="search-book">Search book</h2>
<form action="/books" method="get">
    <div>
        <label class="title">
            title
        </label>
        <input type="text" name="title" value="<%= Search.title %>" placeholder="Title">
    </div>
    <div>
        <label class="title">
            publishDateBefore
        </label>
        <input type="date" name="publishdatebefore" value="<%= Search.publishDateBefore %>">
    </div>
    <div>
        <label class="title">
            publishDateAfter
        </label>
        <input type="date" name="publishdateafter" value="<%= Search.publishDateAfter %>">
    </div>
    <div>
        <button type="submit" class="search-button">
            search
        </button>
    </div>
    <div>
        <% books.map((i) => { %>
                <a href="/books/<%= i.id %>">
                <img src="<%= i.coverImagePath %>" height="300px" width="150px">
            </a>
            <% }) %>
    </div>
</form>